section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txt_img_generos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#txt_img_generos h2{
    height: 28px;
    width: 90px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

#txt_img_generos img{
    height: 91px;
    width: 91px;
    left: 705px;
    top: 273px;
    border-radius: 0px;
}


#input_cadastrar_genero{
    display: flex;
    justify-content:space-between;
    border: gray;
    font-size: 15px;
}

mat-form-field{
    height: 58px;
    width: 400px;
    border-radius: 0px;
    
}

span{
    color: #4abbd4
}

mat-card{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
    color:#4abbd4 !important;
    font-size: 15px;
    
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    border: 1px solid gray;
    border-radius: 0px !important; 
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #4abbd4 !important;

}

#btn_salvar_generos{
    height: 58px;
    width: 180px;
    border-radius: 0px;
    background: #F6511D;
    color: white;
}

#btn_salvar_generos:disabled{
    background-color: gray
}


#card_genero_resp{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


.card_genero{
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: baseline;
}

.btn_editar_genero{
    height: 35px;
    width: 125px;
    border-radius: 20px;
    border: 2px solid #F6511D;
    background: #F6511D;
    box-sizing: border-box;
    color: white;
}

.btn_excluir_genero{
    height: 35px;
    width: 125px;
    border-radius: 20px;
    border: 2px solid #41B8D2;
    background: #41B8D2;
    color: black;
}






