<section>
    <div>
        <div id="txt_img_generos">
            <h2>Gêneros</h2>
            <img src="../../assets/SRC HOME IMG/theater 1.png" alt="Imagens de mascara de teatro">
        </div>

        <form [formGroup]="formCadastrarGenero" (ngSubmit)="SalvarDadosGeneros()" id="input_cadastrar_genero">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Cadastrar Gênero</mat-label>
                    <input formControlName="genero" name="genero" matInput placeholder="Gênero" required>
                     <mat-error> {{error}} </mat-error> 
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" id="btn_salvar_generos" [disabled]="!formCadastrarGenero.valid" >Salvar</button>
            </div>
        </form>

        <mat-card id="card_genero_resp">
            <div>
                <div class="card_genero">
                    <p>Terror</p>
                    <button class="btn_editar_genero" mat-raised-button>Editar</button>
                    <button class="btn_excluir_genero" mat-raised-button>Excluir</button>
                </div>
                <div class="card_genero">
                    <p>Ação</p>
                    <button class="btn_editar_genero" mat-raised-button>Editar</button>
                    <button class="btn_excluir_genero" mat-raised-button>Excluir</button>
                </div>
                <div class="card_genero">
                    <p>Comédia</p>
                    <button class="btn_editar_genero" mat-raised-button>Editar</button>
                    <button class="btn_excluir_genero" mat-raised-button>Excluir</button>
                </div>
            </div>
        </mat-card>

    </div>


</section>