<section>
    <div>
        <div id="txt_img_generos">
            <h2>Gêneros</h2>
            <img src="../../assets/SRC HOME IMG/theater 1.png" alt="Imagens de mascara de teatro">
        </div>

        <form [formGroup]="formCadastrarGenero" id="input_cadastrar_genero" (submit)="salvarDadosGeneros()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Cadastrar Gênero</mat-label>
                    <input formControlName="genero" name="genero" matInput placeholder="Gênero" required>
                     <mat-error> {{error}} </mat-error> 
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" id="btn_salvar_generos" [disabled]="!formCadastrarGenero.valid" >Salvar</button>
            </div>
        </form>

        <div>
            <mat-card id="card_genero_resp" *ngFor="let genero of generos">

                <div>

                    <div class="card_genero">
                        <div> <p> <span>Gênero: </span> {{genero.generoNome}} </p> </div>
                        <div> <button class="btn_editar_genero" (click)="openDialog(genero.id, '0ms', '0ms')" mat-raised-button>Editar</button> </div>
                        <div> <button class="btn_excluir_genero" mat-raised-button (click)="excluirGeneros(genero.id)" >Excluir</button> </div>
                    </div>

                </div>
            </mat-card>
        </div>
    </div>


</section>