<footer>
    <div id="div_footer_container_img">
        <div id="div_footer_img">
            <img src="../../assets/SRC FOOTER IMG/Group 1.png" alt="Logo da Locadora">
        </div>

        <div id="div_footer_container_p">
            <div id="div_footer_p">
                <p>
                 Company Inc., 8901 Marmora Road, Glasgow, D04 89GR
                 Call us now toll free: (800)2345-6789 
                 Customer support: support@demolink.org
                 Skype: sample-username
                </p> 
            </div>
        </div>
    </div>
</footer>
