
<section>
    <div id="conteudo_pagina_filmes">
        
        <div id="div_img">
        <mat-card-subtitle>Filmes</mat-card-subtitle>
        <img src="../../assets/SRC HOME IMG/cinema 1.png" alt="Uma imagem de um rolo de filme antigo">
        </div>

        <div id="cadastrar_filmes">
            <h2>Cadastrar Filmes</h2>
            <form [formGroup]="formCadastrarFilmes" (ngSubmit)="SalvarDadosFilmes()">
                <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input formControlName="titulo" name="titulo" matInput placeholder="Titulo do filme" required>
                    <mat-error>{{error}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>Gênero</mat-label>
                    <mat-select formControlName="genero" name="genero" required>
                    <mat-option *ngFor="let select of generos" value={{select.generoNome}}>  {{select.generoNome}} </mat-option>
                    </mat-select>
                    <mat-error>{{error}}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" id="btn_salvar_filmes" [disabled]="!formCadastrarFilmes.valid">Salvar</button>
            </form>
        </div>

        <div id="div_filmes_cadastrados" *ngFor="let filme of filmes">

            <mat-card id="filmes_cadastrados">

                <div class="card_cadastrados">
                    <div class="div_txt_card" >
                        <div class="text_align"> <p> {{filme.filmeNome}} </p> </div>
                        <div class="text_align"> <p> {{filme.generoFilme}} </p> </div>
                    </div>
                    <div class="div_btns">
                        <button class="btn_editar_filmes" mat-raised-button (click)="openDialog(filme.id, '0ms', '0ms')" >Editar</button>
                        <button class="btn_excluir_filmes"  mat-raised-button (click)="excluirFilme(filme.id)" >Excluir</button> 
                    </div>           
                </div>

            </mat-card>
            
        </div>
           
    </div>

    <div class="spinner" *ngIf="loading | async" >
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</section>
