<h1 mat-dialog-title>Editar Genero: <br> <span>{{data.generoNome}}</span> </h1>
<div mat-dialog-content>
  <p>Digite o nome do novo genero</p>
    <form [formGroup]="form" >

        <mat-form-field appearance="fill" class="hide_id">
            <mat-label>id</mat-label>
            <input  matInput formControlName="gd_id" value="{{data.id}}" >
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Gênero</mat-label>
            <input  matInput formControlName="gd_nome" value="{{data.generoNome}}" required>
            <mat-error>{{error}}</mat-error>
        </mat-form-field>
    </form>    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelarDialog()" class="btn_dialog_cancelar" >Cancelar</button>
  <button mat-button  cdkFocusInitial (click)="editarGenero()" class="btn_dialog_editar" [disabled]="!form.valid">Editar</button>
</div>
